<p><strong>In the SHOW see the new Bookmark</strong></p>
<p><%= @bookmark.comment %></p>

<%# <li class="list-group-item">
  <%= bookmark.comment %>
  <%# <%= link_to "Delete",
    bookmark_path(review),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
<%# </li> %>
